# Variables

In [2]:
print("kshitij Patil")

kshitij Patil

# Arithmatic Variables

In [4]:
a = 10
b = 20
t = a + b

print(a)
print(b)
print(t)

10
20
30

In [5]:
d = 10
e = 20
print(d)
print(e)
c = d + e
print(c)

10
20
30

In [6]:
k = 55
j = 66
k + j

121

# division / operator will return quotient value

In [8]:
a = 100
b = 20
a/b

5.0

# division % operator will return reminder value

In [10]:
a%b

0

In [11]:
sq_a = a**(1/2)
sq_b = b**(1/3)
print(sq_a , sq_b)

10.0 2.7144176165949063

# type casting

In [13]:
type(a)

int

In [14]:
name = "kshititrj"
print(name)
type(name)

kshititrj

str

# Keywords

In [16]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [17]:
name  = "KShitij"
surname = "PAtil"
print(name + " " + surname)

KShitij PAtil

In [18]:
print(name , surname)

KShitij PAtil

In [19]:
full_name = name + " " + surname
print(full_name)

KShitij PAtil

In [20]:
full_name = name +  surname
print(full_name)

KShitijPAtil

In [21]:
# Data Types

In [22]:
a

100

In [23]:
type(a)

int

In [24]:
b

20

In [25]:
a + b

120

In [26]:
a - b

80

In [27]:
a/b

5.0

In [28]:
a*b

2000

In [29]:
a%b

0

In [30]:
23%7

2

In [31]:
23//7

3

In [32]:
23/7

3.2857142857142856

In [33]:
a**b

10000000000000000000000000000000000000000

In [34]:
a**3

1000000

In [35]:
b**5

3200000

In [36]:
10**5

100000

In [37]:
sq_root_a = a**(1/2)
cube_root_b = b**(1/3)
print(sq_root_a , "," , cube_root_b)

10.0 , 2.7144176165949063

In [38]:
print(a+b)
print(a-b)
print(a*b)

120
80
2000

In [39]:
add1 = a+b
sub1 = a-b
mul1 = a*b
print(add1 , "," , sub1 , "," , mul1)

120 , 80 , 2000

In [40]:
name

'KShitij'

In [41]:
fname = name
print(fname)

KShitij

In [42]:
fname

'KShitij'

In [43]:
fname.upper()

'KSHITIJ'

In [44]:
lname = "PATIL"
lname.lower()

'patil'

In [45]:
bool1 = True
bool1

True

In [46]:
bool2 = False
bool2

False

In [47]:
type(bool1)

bool

In [48]:
type(bool2)

bool

In [49]:
number = "10000"
print(number)

10000

In [50]:
type1 = int(number)
print(type1)

10000

In [51]:
type1

10000

In [52]:
hs = 1000
print(hs)

1000

In [53]:
type(hs)

int

In [54]:
k = "jjj"
print(k)

jjj

In [55]:
type(k)

str

In [56]:
p = "1234"

In [57]:
y = int(p)
print(y)
type(y)

1234

int

In [58]:
type(p)

str

In [59]:
print(type(p))
print(type(y))

<class 'str'>
<class 'int'>

In [60]:
int(p)

1234

In [61]:
type(p)

str

In [62]:
type(y)

int

In [63]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [64]:
dir(print)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

# "\n", "\t" in print and seperators

In [66]:
print("23" , "01" , "3025" , sep = "/")

23/01/3025

In [67]:
print("23" , "01" , "3025" , sep = "#")

23#01#3025

In [68]:
my_name = "Kshitij"
my_surname = "Patil"
print(my_name , my_surname)
print(my_name , end = "\n")
print(my_surname)
print(my_name , end = "\t")

Kshitij Patil
Kshitij
Patil
Kshitij

In [69]:
fname = "kshitij"
lname = "patil"
print(fname , lname)

kshitij patil

In [70]:
print(fname,lname,sep = "_")

kshitij_patil

In [71]:
print(fname , "gmail.com" , sep = "@")

kshitij@gmail.com

In [72]:
print(fname , lname)
print(fname , end = "\n")
print(lname)

kshitij patil
kshitij
patil

In [73]:
print(fname , end = "\t")
print(lname)

kshitij	patil

In [74]:
student_id = 10
student_name = "kshitij"
maths_marks = 55
science_marks = 85
social_marks = 75
print(student_id , student_name , maths_marks , science_marks , social_marks)
print(student_id , student_name , maths_marks  , end = "\n")
print(science_marks , social_marks)

10 kshitij 55 85 75
10 kshitij 55
85 75

In [75]:
print(student_id , student_name , maths_marks , science_marks , social_marks , sep = "\t")

10	kshitij	55	85	75

In [76]:
print(student_id , student_name , maths_marks , sep = "\t" , end = "\t")
print(science_marks , social_marks , sep = "\t")

10	kshitij	55	85	75

# F string

In [78]:
name = "kshitij"
mob_no = 9404848686
balance = 200
print(f"Hi {name} your mobile number is {mob_no}  and available balance is {balance}")

Hi kshitij your mobile number is 9404848686  and available balance is 200

# string format with using .format and not f string

In [80]:
print(" Hi {name} your mobile number is {mob_no} and your available balance is {balance}" . format(name = "jay" , mob_no = 88888888888 , balance = 500))

 Hi jay your mobile number is 88888888888 and your available balance is 500

In [81]:
# we can use both f string and .format , but should not do it , just use f string , wich is good practice .

In [82]:
print(f" Hi {name} your mobile number is {mob_no} and your available balance is {balance}" . format("kshiitj",1584165265,526))

 Hi kshitij your mobile number is 9404848686 and your available balance is 200

# List

In [84]:
emp_data = [101 , "karan" , "Engineer" , 50000 , "Day Shift"]

In [85]:
emp_data

[101, 'karan', 'Engineer', 50000, 'Day Shift']

# Slicing

In [87]:
emp_data[2:6]

['Engineer', 50000, 'Day Shift']

In [88]:
emp_data[1:6:2]

['karan', 50000]

In [89]:
len(emp_data)

5

In [90]:
emp_data[-5:-1]

[101, 'karan', 'Engineer', 50000]

In [91]:
emp_data[-5:]

[101, 'karan', 'Engineer', 50000, 'Day Shift']

In [92]:
emp_data[-2:]

[50000, 'Day Shift']

In [93]:
emp_data[-4:-2]

['karan', 'Engineer']

In [94]:
emp_data[-5:5:2]

[101, 'Engineer', 'Day Shift']

In [95]:
emp_data

[101, 'karan', 'Engineer', 50000, 'Day Shift']

In [96]:
emp_data[-5:2]

[101, 'karan']

In [97]:
emp_data[-5:3]

[101, 'karan', 'Engineer']

In [98]:
emp_data[-5:5:2]

[101, 'Engineer', 'Day Shift']

In [99]:
emp_data[::2]

[101, 'Engineer', 'Day Shift']

In [100]:
emp_data[::3]

[101, 50000]

In [101]:
emp_data[-5::2]

[101, 'Engineer', 'Day Shift']

In [102]:
emp_data[-5:-1:2]

[101, 'Engineer']

In [103]:
emp_data[::3]

[101, 50000]

In [104]:
emp_data

[101, 'karan', 'Engineer', 50000, 'Day Shift']

In [105]:
emp_data[::2]

[101, 'Engineer', 'Day Shift']

In [106]:
data = [0,1,2,3,4,5,6,7,8,9]

In [107]:
data[::3]

[0, 3, 6, 9]

In [108]:
id = [101, 102, 103, 104, 105, 106, 107]
name = ["ram", "sham", "tanamay", "joe", "mark", "rohit", "jay"]
marks = [77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.20]

every =[id, name, marks]
print(id, name, marks)
print(every)

[101, 102, 103, 104, 105, 106, 107] ['ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay'] [77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2]
[[101, 102, 103, 104, 105, 106, 107], ['ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay'], [77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2]]

In [109]:
print(id + name + marks)
all = id + name + marks
print(all)

[101, 102, 103, 104, 105, 106, 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2]
[101, 102, 103, 104, 105, 106, 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2]

In [110]:
all

[101,
 102,
 103,
 104,
 105,
 106,
 107,
 'ram',
 'sham',
 'tanamay',
 'joe',
 'mark',
 'rohit',
 'jay',
 77.56,
 55.23,
 98.54,
 69.41,
 75.45,
 78.87,
 99.2]

In [111]:
len(all)

21

In [112]:
all[2]

103

In [113]:
# all[2, 5, 9]

In [114]:
# all[[2], [5], [9]]

In [115]:
print(all[2], all[5], all[9])

103 106 tanamay

In [116]:
print(all[0:2], all[3:7], all[15:17])

[101, 102] [104, 105, 106, 107] [55.23, 98.54]

In [117]:
all1 = id, name, marks
print(all1)

([101, 102, 103, 104, 105, 106, 107], ['ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay'], [77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2])

In [118]:
all1[1][2]

'tanamay'

In [119]:
all[1:5:2]

[102, 104]

In [120]:
# Reverse list
all[::-1]

[99.2,
 78.87,
 75.45,
 69.41,
 98.54,
 55.23,
 77.56,
 'jay',
 'rohit',
 'mark',
 'joe',
 'tanamay',
 'sham',
 'ram',
 107,
 106,
 105,
 104,
 103,
 102,
 101]

# Operations on List

In [122]:
print(all)

[101, 102, 103, 104, 105, 106, 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2]

In [123]:
all2 = all
print(all2)

[101, 102, 103, 104, 105, 106, 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2]

In [124]:
all2.reverse()
print(all2)

[99.2, 78.87, 75.45, 69.41, 98.54, 55.23, 77.56, 'jay', 'rohit', 'mark', 'joe', 'tanamay', 'sham', 'ram', 107, 106, 105, 104, 103, 102, 101]

# Append List / Insert List

In [126]:
print(all)

[99.2, 78.87, 75.45, 69.41, 98.54, 55.23, 77.56, 'jay', 'rohit', 'mark', 'joe', 'tanamay', 'sham', 'ram', 107, 106, 105, 104, 103, 102, 101]

In [127]:
all = all2
all.reverse()
print(all)

[101, 102, 103, 104, 105, 106, 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2]

In [128]:
all.append(56.36)

In [129]:
print(all)

[101, 102, 103, 104, 105, 106, 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2, 56.36]

In [130]:
# Insert

all.insert(2,100000)
print(all)

[101, 102, 100000, 103, 104, 105, 106, 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2, 56.36]

In [131]:
all.insert(9 , "HARSH")
print(all)

[101, 102, 100000, 103, 104, 105, 106, 107, 'ram', 'HARSH', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2, 56.36]

In [132]:
all.insert(7 , [1, 2, 3, 4])
print(all)

[101, 102, 100000, 103, 104, 105, 106, [1, 2, 3, 4], 107, 'ram', 'HARSH', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2, 56.36]

In [133]:
it = [11,22,33,44]
all.insert(5,it)
print(all)

[101, 102, 100000, 103, 104, [11, 22, 33, 44], 105, 106, [1, 2, 3, 4], 107, 'ram', 'HARSH', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2, 56.36]

# Remove from List

In [135]:
# Use Remove for value
# Use Pop for Index

In [136]:
all.remove([11,22,33,44])
print(all)

[101, 102, 100000, 103, 104, 105, 106, [1, 2, 3, 4], 107, 'ram', 'HARSH', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2, 56.36]

In [137]:
all.remove(105)

In [138]:
all.remove(101)

In [139]:
all.remove("HARSH")

In [140]:
print(all)

[102, 100000, 103, 104, 106, [1, 2, 3, 4], 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2, 56.36]

In [141]:
all.pop(2)
print(all)

[102, 100000, 104, 106, [1, 2, 3, 4], 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2, 56.36]

In [142]:
all.pop(3)
print(all)

[102, 100000, 104, [1, 2, 3, 4], 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2, 56.36]

In [143]:

all.pop(2)
print(all)

[102, 100000, [1, 2, 3, 4], 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2, 56.36]

In [144]:
# empty .pop() removes last element of list 
# but empty .remove() cannot remove last element of list

all.pop()
print(all)

[102, 100000, [1, 2, 3, 4], 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 99.2]

In [145]:
# Only pop can return remove element from list .

all.pop()

99.2

In [146]:
all

[102,
 100000,
 [1, 2, 3, 4],
 107,
 'ram',
 'sham',
 'tanamay',
 'joe',
 'mark',
 'rohit',
 'jay',
 77.56,
 55.23,
 98.54,
 69.41,
 75.45,
 78.87]

In [147]:
all.append(101)
all.append(101)
all.append("ram")
print(all)

[102, 100000, [1, 2, 3, 4], 107, 'ram', 'sham', 'tanamay', 'joe', 'mark', 'rohit', 'jay', 77.56, 55.23, 98.54, 69.41, 75.45, 78.87, 101, 101, 'ram']

# Occurence of elements in list

In [149]:
all.index(101)

17

In [150]:
all.index("ram")

4

In [151]:
# all.index("ram", 5,7)

In [152]:
all.index("ram",17)

19

In [153]:
all.index("ram",17,23)

19

# Extend method / Mergigng

In [155]:
country = ["India", "Austrelia", "USA", "Russia"]
country_code = ["IN", "AUS", "US", "RUS"]
country.extend(country_code)

In [156]:
country

['India', 'Austrelia', 'USA', 'Russia', 'IN', 'AUS', 'US', 'RUS']

# Tuples 
Tuples are Immutable

In [158]:
emp_data = (101, 102, 103)

In [159]:
type(emp_data)

tuple

In [160]:
emp = (101, "Ramesh", "Ramesh@gmail.com", 985248282, "IT")

In [161]:
type(emp)

tuple

In [162]:
emp[1:3]

('Ramesh', 'Ramesh@gmail.com')

In [163]:
emp_id = (1, 2, 3)

In [164]:
len(emp_data)

3

In [165]:
emp.index("Ramesh")

1

In [166]:
list(emp)

[101, 'Ramesh', 'Ramesh@gmail.com', 985248282, 'IT']

In [167]:
type(emp)

tuple

In [168]:
e = list(emp)

In [169]:
e

[101, 'Ramesh', 'Ramesh@gmail.com', 985248282, 'IT']

In [170]:
type(e)

list

In [171]:
# We cannot add elements in tuple as it is immutuable. So we have to covert tuple in list to add elements or do changes in tuple.

In [172]:
emp

(101, 'Ramesh', 'Ramesh@gmail.com', 985248282, 'IT')

In [173]:
list(emp)

[101, 'Ramesh', 'Ramesh@gmail.com', 985248282, 'IT']

In [174]:
e

[101, 'Ramesh', 'Ramesh@gmail.com', 985248282, 'IT']

In [175]:
e.append(45)

In [176]:
e

[101, 'Ramesh', 'Ramesh@gmail.com', 985248282, 'IT', 45]

In [177]:
Emp = tuple(e)

In [178]:
e

[101, 'Ramesh', 'Ramesh@gmail.com', 985248282, 'IT', 45]

In [179]:
Emp

(101, 'Ramesh', 'Ramesh@gmail.com', 985248282, 'IT', 45)

In [180]:
print(emp)

(101, 'Ramesh', 'Ramesh@gmail.com', 985248282, 'IT')

In [181]:
print(Emp)

(101, 'Ramesh', 'Ramesh@gmail.com', 985248282, 'IT', 45)

# Sets

In [183]:
# Stes are Mutuable.
# Sets doesn't allow or store duplicate values , it will print  only unique values and skips duplicate or repitative values.
# Data stores in Sets are always Unique.
# You cannot performe indexing , as data in Sets are not stored in order.

In [184]:
ids = {101, 102, 103, 101, 104, 102}

In [185]:
ids

{101, 102, 103, 104}

In [186]:
type(ids)

set

In [187]:
id1 = {101, 102, 103, 104, 105, 101, 102, 101, 102, 103}

In [188]:
id1

{101, 102, 103, 104, 105}

In [189]:
id1.add(111)

In [190]:
id1

{101, 102, 103, 104, 105, 111}

In [191]:
pre_id1 = id1
pre_id1

{101, 102, 103, 104, 105, 111}

In [192]:
prim_id2 = {102, 103, 105, 106, 111}

In [193]:
pre_id1.intersection(prim_id2)

{102, 103, 105, 111}

In [194]:
pre_id1.union(prim_id2)

{101, 102, 103, 104, 105, 106, 111}

In [195]:
pre_id1.difference(prim_id2)

{101, 104}

In [196]:
prim_id2.difference(pre_id1)

{106}

In [197]:
pre_id1

{101, 102, 103, 104, 105, 111}

In [198]:
pre_id1.remove(101)

In [199]:
pre_id1

{102, 103, 104, 105, 111}

In [200]:
pre_id1.pop()

102

In [201]:
pre_id1

{103, 104, 105, 111}

In [202]:
pre_id1.pop()

103

In [203]:
pre_id1

{104, 105, 111}

In [204]:
pre_id1.pop()

104

In [205]:
pre_id1

{105, 111}

In [206]:
pre_id1.pop()

105

In [207]:
pre_id1

{111}

# Conditional  Operators

In [209]:
a = 10
b = 20

In [210]:
a == b

False

In [211]:
a != b

True

In [212]:
a > b

False

In [213]:
a < b

True

In [214]:
a >= b

False

In [215]:
a <= b

True

# Logical Operations

        and                              or
  a      b       a and b      | a         b        a or b
  True  True     True         | True      True     True
  True  False    False        | True      False    True
  False True     False        | False     True     True
  False False    False        | False     False    False

In [217]:
a = 18
b = "Pune"

In [218]:
(a == b) and (b == "Harsh")

False

In [219]:
(a == 18) and (b == "Pune")

True

In [220]:
(a == 81) or (b == "Pune")

True

In [221]:
(a == 80) or (b == "pune")

False

In [222]:
c = "Kshitij"

In [223]:
# Age can be anything but " kshitij " should stay in pune 

((c == "Kshitij") and (b == "Pune")) or age == 71

True

In [224]:
age = 50

In [225]:
((age > 17) and (age < 60))

True

In [450]:
age = int(input("enter : "))

enter :  55

In [453]:
age

55

In [467]:
age = int(input("Enter Your age : "))
location = input("Enter your location : ")

Enter Your age :  55
Enter your location :  Pune

In [469]:
(age > 18) and (location == "Pune")

True

In [473]:
(age < 18) or (location == "Pune")

True

In [483]:
num1 = int(input("Enter First Number : "))
num2 = int(input("Enter second number : "))

total = num1 + num2
print("Your total is : ", total)
print(f"Addition of numbers {num1} and {num2} is : {total}")

Enter First Number :  100
Enter second number :  200

Your total is :  300
Addition of numbers 100 and 200 is : 300

In [477]:
print(total)

30

In [487]:
first_name = input("Enter Your First Name : ")
last_name = input("Enter Your Last Name : ")
full_name = first_name + " " + last_name
print(f"Your Fisrt NAme is {first_name} and Your last NAme is {last_name} and Your Full NAme is {full_name}")

Enter Your First Name :  Kshitij
Enter Your Last Name :  PAtil

Your Fisrt NAme is Kshitij and Your last NAme is PAtil and Your Full NAme is Kshitij PAtil

In [495]:
fname = input("Enter your First NAme :")
mname = input("Enter your middle name : ")
lname = input("Enetr your last name : ")
age = int(input("Enter your age : "))
weight = float(input("Enetr your Exact weight "))
full_name = fname + " " + mname + " " + lname
print(f"Your First Name is {fname} and Middle Name is {mname} and Last Name is {lname} and Your Full Name is {full_name} and your age is {age} and Weight is {weight}")

Enter your First NAme : Kshitij
Enter your middle name :  Pradeep
Enetr your last name :  PAtil
Enter your age :  31
Enetr your Exact weight  85.36

Your First Name is Kshitij and Middle Name is Pradeep and Last Name is PAtil and Your Full Name is Kshitij Pradeep PAtil and your age is 31 and Weight is 85.36

In [89]:
# Area Of Triangle
a = int(input("Enter Number :"))
b = int(input("Enter Number :"))
c = int(input("Enter Number :"))
s= (a+b+c)/2
ABC = (s*(s-a)*(s-b)*(s-c))**(1/2)
print(ABC)

Enter Number : 5
Enter Number : 4
Enter Number : 5

9.16515138991168

In [501]:
nums1 = int(input())
nums2 = int(input())

if (nums1 > 50) and (nums2 > 50):
    c = nums1 + nums2
    print(f"Addition of numbers is {c} ")
else:
    (nums1 < 50) and (nums2 < 50)
    d = nums1 - nums2
    print(f"Substraction is {d}")

 56
 85

Addition of numbers is 141

In [503]:
nums1 = int(input())
nums2 = int(input())

if (nums1 > 50) and (nums2 > 50):
    c = nums1 + nums2
    print(f"Addition of numbers is {c} ")
else:
    (nums1 < 50) and (nums2 < 50)
    d = nums1 - nums2
    print(f"Substraction is {d}")

 45
 41

Substraction is 4

In [507]:
# Check Number is even or  odd

check_num = int(input())


if check_num%2==0:
    print(f"The given number  {check_num} is Even")
else :
    print(f"The given number {check_num} is Odd")

 4

The given number  4 is Even

In [509]:
# Check Number is even or  odd

check_num = int(input())


if check_num%2==0:
    print(f"The given number  {check_num} is Even")
else :
    print(f"The given number {check_num} is Odd")

 5

The given number 5 is Odd

# If Elif Else
if condition:
    exxecutable code of if 
elif condition:
    executable code of elif
elif condition:
    executable code of elif
else:
    executable code of else

In [513]:
nums1

45

In [515]:
nums2

41

In [519]:
number = 25
if number%2==0:
    print(f"Is divisible by 2  ")
elif number%3==0:
    print(f"Is divisible by 3 ")
elif number%5==0:
    print(f"Is divisible by 5")
else:
    print("number is not good")

Is divisible by 5

In [521]:
number = 60
if number%2==0 and number%3==0:
    print(f"Is divisible by 2 and 3  ")
elif number%2==0:
    print(f"Is divisible by 2 ")
elif number%3==0:
    print(f"Is divisible by 3")
else:
    print("number is not good")

Is divisible by 2 and 3

In [523]:
number = int(input())
if number%2==0 and number%3==0:
    print(f"Is divisible by 2 and 3  ")
elif number%2==0:
    print(f"Is divisible by 2 ")
elif number%3==0:
    print(f"Is divisible by 3")
else:
    print("number is not good")

 27

Is divisible by 3

In [91]:
num = int(input("Enter Nymber :"))
if num>0:
    print("Number is Positive")
else:
    print("Number is NEgative")

Enter Nymber : -2

Number is NEgative

# Range Function

In [13]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [15]:
tuple(range(6))

(0, 1, 2, 3, 4, 5)

In [17]:
set(range(6))

{0, 1, 2, 3, 4, 5}

In [19]:
list(range(0,15,2))

[0, 2, 4, 6, 8, 10, 12, 14]

In [23]:
tuple(range(2,14,3))

(2, 5, 8, 11)

# Range in For Loop

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
for i in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [39]:
for i in range(10):
    print(f" {i} Hello World")

 0 Hello World
 1 Hello World
 2 Hello World
 3 Hello World
 4 Hello World
 5 Hello World
 6 Hello World
 7 Hello World
 8 Hello World
 9 Hello World

In [43]:
price = [10,20,30,40,50,60,70,80,90]

In [45]:
for i in price:
    print(i*85)

850
1700
2550
3400
4250
5100
5950
6800
7650

In [47]:
price_usd = []

for i in price:
    price_usd.append(i*85)
    print(price_usd)

[850]
[850, 1700]
[850, 1700, 2550]
[850, 1700, 2550, 3400]
[850, 1700, 2550, 3400, 4250]
[850, 1700, 2550, 3400, 4250, 5100]
[850, 1700, 2550, 3400, 4250, 5100, 5950]
[850, 1700, 2550, 3400, 4250, 5100, 5950, 6800]
[850, 1700, 2550, 3400, 4250, 5100, 5950, 6800, 7650]

In [59]:
inr_price = [10,20,30,40,50,60,70,80,90]
new_usd_price = []
for i in inr_price:
    new_usd_price.append(i*85)
print(inr_price)
print(new_usd_price)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[850, 1700, 2550, 3400, 4250, 5100, 5950, 6800, 7650]

In [1]:
l1 = [10,20,30,40,50,60]

In [3]:
for i in range(len(l1)):
    print(l1[i])

10
20
30
40
50
60

In [69]:
# Even , Odd

even = []
odd = []
for i in range(1,50):
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
print("Even :",even)
print("Odd :" , odd)

Even : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
Odd : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [73]:
even = []

for i in range(2,101,2):
    even.append(i)
print("even :" , even)

even : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [75]:
odd = []

for i in range(1 , 101 , 2):
    odd.append(i)
print("odd : " , odd)

odd :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [93]:
# Create a for loop to print squares of elements of a list>
# Append the square values from above code to a new list.
# Seperate a given list to even list and odd list.

In [95]:
from math import pow , sqrt

In [101]:
# Square of 12
pow(12 , 2)

144.0

In [103]:
# Square Root of 144
sqrt(144)

12.0

In [119]:
squ = [10,20,30,40,50]
s = []
for i in squ:
    c = pow(i,2)
    s.append(c)
print(s)

[100.0, 400.0, 900.0, 1600.0, 2500.0]

In [123]:
# create a for loop which takes each element from a list and generates square of that element
l1 = [34,79,65,32,41,90]
sq_nums = []
even3 = []
odd3 = []

for i in l1:
    c = pow(i , 2)
    sq_nums.append(c)

for i in sq_nums:
    if i%2 == 0:
        even3.append(i)
    else:
        odd3.append(i)
print(sq_nums)
print(even3)
print(odd3)

[1156.0, 6241.0, 4225.0, 1024.0, 1681.0, 8100.0]
[1156.0, 1024.0, 8100.0]
[6241.0, 4225.0, 1681.0]

In [125]:
# Direct Ways

even4 = []
odd4 = []

for i in l1:
    c = pow(i , 2)
    if c%2 == 0:
        even4.append(c)
    else:
        odd4.append(c)
print(even4 , odd4 , sep = "\t")

[1156.0, 1024.0, 8100.0]	[6241.0, 4225.0, 1681.0]

In [133]:
# what happens if we add print statement in an if else condition which is in a loop

even4 = []
odd4 = []
print(l1) 
for i in l1:
    c = pow(i,2)
    if c%2 == 0:
        even4.append(c)
        print(f"If Statement :{even4}")
    else:
        odd4.append(c)
        print(f"Else Statement :{odd4}")

[34, 79, 65, 32, 41, 90]
If Statement :[1156.0]
Else Statement :[6241.0]
Else Statement :[6241.0, 4225.0]
If Statement :[1156.0, 1024.0]
Else Statement :[6241.0, 4225.0, 1681.0]
If Statement :[1156.0, 1024.0, 8100.0]

In [23]:
# Write a program which has for loop and gives factorial of a number

n = int(input("Enter a number , I will output the factorial of that number"))

b = 1
for i in range(1, n+1):
    b = b*i
print(b)

Enter a number , I will output the factorial of that number 5

120

# While Loop

In [136]:
i = 0
while i <= 50:
    print(f"{i} Hello World")
    i = i+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World
10 Hello World
11 Hello World
12 Hello World
13 Hello World
14 Hello World
15 Hello World
16 Hello World
17 Hello World
18 Hello World
19 Hello World
20 Hello World
21 Hello World
22 Hello World
23 Hello World
24 Hello World
25 Hello World
26 Hello World
27 Hello World
28 Hello World
29 Hello World
30 Hello World
31 Hello World
32 Hello World
33 Hello World
34 Hello World
35 Hello World
36 Hello World
37 Hello World
38 Hello World
39 Hello World
40 Hello World
41 Hello World
42 Hello World
43 Hello World
44 Hello World
45 Hello World
46 Hello World
47 Hello World
48 Hello World
49 Hello World
50 Hello World

In [9]:
print(l1)

[10, 20, 30, 40, 50, 60]

In [7]:

i = 0
while i<len(l1):
    print(l1[i])
    i = i+1

10
20
30
40
50
60

In [138]:
i = 0
while i<=50:
    print(f"{i} Hello World")
    i = i+3

0 Hello World
3 Hello World
6 Hello World
9 Hello World
12 Hello World
15 Hello World
18 Hello World
21 Hello World
24 Hello World
27 Hello World
30 Hello World
33 Hello World
36 Hello World
39 Hello World
42 Hello World
45 Hello World
48 Hello World

In [140]:
i = 2
while i<=50:
    print(i)
    i = i+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [142]:
even5 = []
i = 2
while i<=50:
    even5.append(i)
    i = i+1
print(even5)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [25]:
# Factorial of number

In [32]:
num = int(input("PRovide the number"))
b2 = 1
i = 1
while i< (num):
    b2 = b2*i
    i = i+1
print(b2)

PRovide the number 5

24

In [34]:
# For Loops < While Loops continued

In [36]:
l = [10,20,30,40,50]

for i in l:
    print(i)

10
20
30
40
50

In [38]:
for i in range(len(l)):
    print(l[i])

10
20
30
40
50

In [42]:
i = 0
while i<len(l):
    print(l[i])
    i = i+1

10
20
30
40
50

In [44]:
i = 0
while i<4:
    print(l[i])
    i = i+1

10
20
30
40

In [46]:
# Factorial Program

In [60]:
num = int(input("Enter number :"))

b = 1
for i in range(1,num):
    b = b*i
print(f"Factorial of number {num} is {b}" )

Enter number : 10

Factorial of number 10 is 362880

In [120]:
num = int(input("Enter number :"))
b = 1
i = 1
while i<num+1:
    b = b*i
    i = i+1
print(b)

Enter number : 5

120

In [64]:
l

[10, 20, 30, 40, 50]

In [68]:
i = 0
while i < len(l):
    print(l[i])
    i = i+1

10
20
30
40
50

In [70]:
l_1 = (15,52,63,48,6,68,15,941,6,151,4)

In [76]:
i = 0
while i < len(l_1):
    print(l_1[i])
    i = i+1

15
52
63
48
6
68
15
941
6
151
4

In [78]:
sq_num = []
i = 0
while i<len(l_1):
    a = l_1[i]**2
    sq_num.append(a)
    i = i+1
print(l_1)
print(sq_num)

(15, 52, 63, 48, 6, 68, 15, 941, 6, 151, 4)
[225, 2704, 3969, 2304, 36, 4624, 225, 885481, 36, 22801, 16]

In [80]:
enumerate(l_1)

In [82]:
list(enumerate(l_1))

[(0, 15),
 (1, 52),
 (2, 63),
 (3, 48),
 (4, 6),
 (5, 68),
 (6, 15),
 (7, 941),
 (8, 6),
 (9, 151),
 (10, 4)]

In [102]:
print(list(enumerate(l_1,100)))

[(100, 15), (101, 52), (102, 63), (103, 48), (104, 6), (105, 68), (106, 15), (107, 941), (108, 6), (109, 151), (110, 4)]

In [92]:
tuple(enumerate(l_1,100))

((100, 15),
 (101, 52),
 (102, 63),
 (103, 48),
 (104, 6),
 (105, 68),
 (106, 15),
 (107, 941),
 (108, 6),
 (109, 151),
 (110, 4))

In [104]:
for i in enumerate(l_1):
    print(i)

(0, 15)
(1, 52)
(2, 63)
(3, 48)
(4, 6)
(5, 68)
(6, 15)
(7, 941)
(8, 6)
(9, 151)
(10, 4)

In [106]:
emp_data = [[101 , "KShitij"] , [102 , "Ramesh"] , [103 , "Suraj"] , [104 , "Rupesh"]]

In [108]:
for i in emp_data:
    print(i)

[101, 'KShitij']
[102, 'Ramesh']
[103, 'Suraj']
[104, 'Rupesh']

In [112]:
for i,j in emp_data:
    print(i,j)

101 KShitij
102 Ramesh
103 Suraj
104 Rupesh

In [116]:
for i , j in emp_data:
    print(f"Employee Data Name is {j} and ID is {i}")

Employee Data Name is KShitij and ID is 101
Employee Data Name is Ramesh and ID is 102
Employee Data Name is Suraj and ID is 103
Employee Data Name is Rupesh and ID is 104

In [118]:
list(enumerate(l_1))

[(0, 15),
 (1, 52),
 (2, 63),
 (3, 48),
 (4, 6),
 (5, 68),
 (6, 15),
 (7, 941),
 (8, 6),
 (9, 151),
 (10, 4)]

In [122]:
for i in enumerate(l_1):
    print(i)

(0, 15)
(1, 52)
(2, 63)
(3, 48)
(4, 6)
(5, 68)
(6, 15)
(7, 941)
(8, 6)
(9, 151)
(10, 4)

# Dictionaries

In [4]:
s1 = {101,102,103,255,51,65}

In [6]:
s1

{51, 65, 101, 102, 103, 255}

In [8]:
type(s1)

set

In [10]:
emp_ids = {101:"Ram" , 102:"Sham" , 103:"kamlesh" , 104:"ramesh"}

In [13]:
type(emp_ids)

dict

In [15]:
emp_ids.keys()

dict_keys([101, 102, 103, 104])

In [17]:
emp_ids.values()

dict_values(['Ram', 'Sham', 'kamlesh', 'ramesh'])

In [19]:
emp_ids.items()

dict_items([(101, 'Ram'), (102, 'Sham'), (103, 'kamlesh'), (104, 'ramesh')])

In [21]:
temp = {1.0:98.7 , 2.0:98.63 , 3.0:78.25 , 4.0:96.36}

In [24]:
temp

{1.0: 98.7, 2.0: 98.63, 3.0: 78.25, 4.0: 96.36}

In [28]:
print(temp[3.0])
print(temp[1.0])

78.25
98.7

In [30]:
# It does not  take duplicate keys , if we insert duplicate key  then it will take latest key inserted and remove last duplicate key

temp = {1.0:98.7 , 2.0:98.63 , 3.0:78.25 , 4.0:96.36 , 1.0:55.55}

In [34]:
# As it takes 1.0 key's latest value 55.55
temp

{1.0: 55.55, 2.0: 98.63, 3.0: 78.25, 4.0: 96.36}

In [38]:
emp_data = {"ids":[101,102,103,104] , "name":["Ramesh" , "Suresh" , "Ganesh" , "Naresh"] , "dept":["HR" , "SALES" , "MRKT" , "IT"] , "mgr_ids":[101,102,103,104]}

In [41]:
emp_data

{'ids': [101, 102, 103, 104],
 'name': ['Ramesh', 'Suresh', 'Ganesh', 'Naresh'],
 'dept': ['HR', 'SALES', 'MRKT', 'IT'],
 'mgr_ids': [101, 102, 103, 104]}

In [44]:
emp_data.items()

dict_items([('ids', [101, 102, 103, 104]), ('name', ['Ramesh', 'Suresh', 'Ganesh', 'Naresh']), ('dept', ['HR', 'SALES', 'MRKT', 'IT']), ('mgr_ids', [101, 102, 103, 104])])

In [47]:
emp_data2 = {"ids":[101,102,103,104] , "name":["Ramesh" , "Suresh" , "Ganesh" , "Naresh"] , "dept":["HR" , "SALES" , "MRKT" , "IT"] , "mgr_ids":[101,102,103,104]}

In [49]:
emp_data2

{'ids': [101, 102, 103, 104],
 'name': ['Ramesh', 'Suresh', 'Ganesh', 'Naresh'],
 'dept': ['HR', 'SALES', 'MRKT', 'IT'],
 'mgr_ids': [101, 102, 103, 104]}

In [53]:
print(emp_data2["name"])
print(emp_data2["dept"])
print(emp_data2["mgr_ids"])

['Ramesh', 'Suresh', 'Ganesh', 'Naresh']
['HR', 'SALES', 'MRKT', 'IT']
[101, 102, 103, 104]

In [59]:
for i,j in emp_data2.items():
    print(f"Keys Data: {i}")
    print(f"Values Data: {j}")

Keys Data: ids
Values Data: [101, 102, 103, 104]
Keys Data: name
Values Data: ['Ramesh', 'Suresh', 'Ganesh', 'Naresh']
Keys Data: dept
Values Data: ['HR', 'SALES', 'MRKT', 'IT']
Keys Data: mgr_ids
Values Data: [101, 102, 103, 104]

In [61]:
for i in emp_data2.keys():
    print(i)

ids
name
dept
mgr_ids

In [63]:
for i in emp_data2.values():
    print(i)

[101, 102, 103, 104]
['Ramesh', 'Suresh', 'Ganesh', 'Naresh']
['HR', 'SALES', 'MRKT', 'IT']
[101, 102, 103, 104]

# Functions

## Built_In Functions

In [68]:
emp_data2

{'ids': [101, 102, 103, 104],
 'name': ['Ramesh', 'Suresh', 'Ganesh', 'Naresh'],
 'dept': ['HR', 'SALES', 'MRKT', 'IT'],
 'mgr_ids': [101, 102, 103, 104]}

In [82]:
salaries = (2500,3500,4000,5000,2500)

In [84]:
marks = [56,65,45,78,78,78]

In [90]:
print(sum(salaries))
print(sum(marks))
print(max(salaries))
print(min(marks))
print("2500 Appears 2 times in salaries tuple",salaries.count(2500))
print("78 Appears 3 times in marks list",marks.count(78))

17500
400
5000
45
2500 Appears 2 times in salaries tuple 2
78 Appears 3 times in marks list 3